<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee-layout}">
<head>
    <title>Employee List</title>
</head>
<body layout:fragment="body">
    <h1>Employees</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.id}" />
                <td th:text="${employee.name}" />
                <td th:text="${employee.department}" />
                <td>
                    <a href="#" th:onclick="'deleteEmployee(' + ${employee.id} + '); return false;'">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        async function deleteEmployee(employeeId) {
            if (!confirm(`Are you sure you want to delete employee ${employeeId}?`)) {
                return false;
            }

            const deleteResponse = await fetch(`/employees/${employeeId}`, { method: "DELETE" });
            if (deleteResponse.status === 200) {
                window.location.reload();
            } else {
                alert("The employee could not be deleted");
            }
        }
    </script>
</body>
</html>