<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{employee-layout}">
<head>
    <title>Create Employee</title>
</head>
<body layout:fragment="body">
<div class="employee-created-message" th:if="${showEmployeeCreatedMessage}">
    Employee created
</div>
<h1>Create Employee</h1>
<form action="/employees" method="post">
    <div class="row">
        <div class="two columns"><label for="name">Name:</label></div>
        <div class="ten columns"><input type="text" id="name" name="name"></div>
    </div>
    <div class="row">
        <div class="two columns"><label for="department">Department:</label></div>
        <div class="ten columns"><input type="text" id="department" name="department"></div>
    </div>
    <input type="submit" value="Create Employee">
</form>
</body>
</html>